<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Roastr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AAAB591F1DB034BB00CB2344</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAAB59381DB034BC00CB2344</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AAAB59431DB034BC00CB2344</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
